.clickable {
	cursor:pointer;
}
.disabledIcon{
  color: #AACCAA;
    cursor: not-allowed;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.add-padding-50{
    padding-top: 50px;
}

.add-padding-25{
    padding-top: 25px;
}

.table tr{
	height: 50px;
 }

.table-height{
    min-height: 570px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}